body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}



      /* HEADER */

header {
    background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(31, 28, 28);
    color: white;
    position: relative;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.header-section h1 {
    margin: 0;
    padding: 20px;
}

.header-section p {
    display: inline-block;
    max-width: 850px;
    padding: 20px;
    margin: 0;
}

.header-section a {
    width: 120px;
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 1px solid #666;
    background-color: #333;
}

.header-section a:hover {
    background-color: white;
    color: black;
}


      /* MAIN */


      /* SECTION-1 */

.section-1-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    margin: 20px auto;
}

.section-1 h2 {
    margin: 30px 0;
    padding: 0 20px;
    font-size: 1.57rem;
}

.article {
    padding: 0 20px;
    max-width: 500px;
}


      /* SECTION-2 */

.section-2 {
    background-color: #333;
}

.section-2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 20px;
    margin: 0 20px;
}

.section-2 ul li {
    max-width: 260px;
    margin: 30px 10px;
    background-color: white;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
}

.card-header {
    margin: 40px 0;
    padding: 5px;
}

.card p {
    padding: 5px 20px;
}




      /* SECTION-3 */

.section-3 h2 {
    margin: 20px;
}

.section-3 p {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
}



      /* SECTION-4 */

.section-4 {
    display: flex;
}

.contacts, .about-company {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contacts-mail {
    margin-bottom: 20px;
}

.contacts-mail p, .contacts-mail a, .about-company p {
    padding: 20px;
}

.section-4 h2 {
    padding: 40px 20px 20px;
    margin: 0;
}

.contacts {
    background-color: #2690d4;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.about-company {
    background-color: #333;
}



      /* FOOTER */

footer {
    background-color: black;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.footer-section p {
    color: white;
    width: 50%;
}

.footer-section a {
    text-decoration: none;
    color: #2690d4;
}